### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [1]:
# 1) *
2 * 2
# * is multiplication operation expression

4

In [2]:
# 2) 'hello'
'hello'
# this is string values

'hello'

In [3]:
# 1) -
2 - 2
# - is subtraction operation expression

0

In [4]:
# 1) /
2 / 2
# / is division operation expression

1.0

In [5]:
# 1) +
2 + 2
# + is addition operation expression

4

In [6]:
# 1) 6
6
#  this is integer values

6

### 2. What is the difference between string and variable?
- variable is a name that can store values. where string is datatype 
- variable store multiple datatypes in python. A String is a group of characters or a single character usually enclosed in Double quotes  ``''``, ``""``

In [7]:
x = "mihir"
# here x is variable that can store value and "mihir" is  string
print(x)

mihir

### 3. Describe three different data types.

- in python there are many datatypes like - `` integer, string, boolean, complex, float etc ``. <br>
- 1) <b>integer</b> - integer is used to represent numeric values
- 2) <b>string</b> - string is used to represent charcters
- 3) <b>float</b> - float is used to represent floating point values

In [10]:
# integer
x = 12
print(x, type(x))

# string
y = "mihir"
print(y, type(y))

# float
z = 88.55
print(z, type(z))

12 <class 'int'>
mihir <class 'str'>
88.55 <class 'float'>

### 4. What is an expression made up of? What do all expressions do?
- an expression is collection of mathemetic symbol
- an expression is combination of variable, values and operators. expression needs to be evaluated

In [ ]:
x + 4 # an expression

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
- an expression evaluates to a value
- statement does something

In [ ]:
spam = 10 # statement
spam + 2 # an expression

### 6. After running the following code, what does the variable bacon contain?
``bacon = 22``<br>
``bacon + 1``<br>
<b>Without print()</b>
- In ``jupyter notebook`` if you run this code without print() so bacon value already save in memory. it does arithemetic operations but and result is ``23``

In [18]:
bacon = 22
bacon + 1

23

<b>With print()</b>
- after running this statement it gives ``22`` because it's not reassgin bacon value. you need to write in 
```bacon = bacon +1```

In [22]:
bacon = 22
bacon = print(bacon)

22

### 7. What should the values of the following two terms be?
```'spam' + 'spamspam' ```<br>
```'spam' * 3```<br>

- the results of both terms will be same ``spamspamspam`` because first is string concatination and second one is string multiplication

In [26]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?
- because rule in  python variable name always start with charcter. The python rules are <br>
- 1) The variable name always start with character or _<br>
- 2) variable cannot start with number<br>
- 3) variable name contain only alpha numeric values and underscore A-z, 0-9 and _<br>
- 4) variable are case sensitive - MIHIR & mihir are diffrent<br>
etc.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
- to represent integer, floating and string we use ```int()```, ``str()``, ``float()``

In [33]:
print('integer of 33.333 is - ', int(33.333), type(int(33.333)))
print('float of 33 is - ', float(33), type(float(33)))
print('string of 33 is - ', str(33), type(str(33)))

integer of 33.333 is -  33 <class 'int'>
float of 33 is -  33.0 <class 'float'>
string of 33 is -  33 <class 'str'>

### 10. Why does this expression cause an error? How can you fix it?
`` 'I have eaten'  + 99 +  'burritos'``
- it's giving error because we do addition operation with diffrent data types and python is a ``strong typing`` so we need to do addition with same datatype.<br>
- we need to convert 99 into ``string`` so all are same datatype

In [34]:
## ERROR
'I have eaten'  + 99 +  'burritos'

TypeError: can only concatenate str (not "int") to str

In [37]:
## SOLUTION - 1
'I have eaten '  + '99' +  ' burritos'

'I have eaten 99 burritos'

In [40]:
## SOLUTION - 2
'I have eaten '  + str(99) +  ' burritos'

'I have eaten 99 burritos'