# Q-13. Write an SQL query to show only odd rows from a table.

<b>Ans: </b>SELECT * FROM Worker Where MOD(worker_id,2) = 1

# Q-14. Write an SQL query to clone a new table from another table.

# Code to Create a New table
CREATE TABLE CloneWorker ( <br>
    WORKER_ID INT NOT NULL AUTO INCREMENT PRIMARY KEY, <br>
    FIRST_NAME VARCHAR(50), <br>
    LAST_NAME VARCHAR(50), <br>
    SALARY INT, <br>
    DEPARTMENT VARCHAR(50), <br>
    JOINING_DATE DATETIME <br>
);
# Code to Clone content of a table to another table
INSERT INTO CloneWorker SELECT * FROM Worker;