# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

<b>Ans: </b>SELECT REPLACE(FIRST_NAME,'a','A') FROM Wokrer;

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

<b>Ans:</b> SELECT * FROM Worker ORDER BY FIRST_NAME ASC, LAST_NAME DESC;

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

<b>Ans:</b> SELECT FIRST_NAME, LAST_NAME FROM Worker WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);