# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5;

# Q-20. Write an SQL query to fetch the list of employees with the same salary.

CREATE TABLE employee ( <br>
    emp_id INT PRIMARY KEY AUTO_INCREMENT NOT NULL, <br>
    first_name VARCHAR(50), <br>
    last_name VARCHAR(50), <br>
    salary INT <br>
); <br>

INSERT INTO employee VALUES <br>
(1,'Luke','Skywalker',100), <br>
(2,'Anakin','Skywalker',200), <br>
(3,'Liea','Skywalker',50), <br>
(4,'Rey','Skywalker',150), <br>
(5,'Han','Solo',100), <br>
(6,'Darth','Vader',150); <br>

SELECT * FROM employee ORDER BY salary ASC;